#menu {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	z-index: 1000;
}
ul {
	padding-top: 20px;
	padding-bottom: 20px;
	background: white;
}
li {
	display: inline;
	padding: 0px 10px 0px 10px;
	color: black;
	text-align: center;
}
header {
	background-size: 100%;
	text-align: center;
	color: white;
}

 body{
      text-align: center;
   }


.jumbotron{
  min-height: 500px;
  background-image:url("../images/team4.jpg");
  background-size:cover;
  background-position:center;
  background-attachment: fixed;
}


input {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}



p {
	font-size: 20px;
	font-family: Lobster;
	text-align: center;
}

#Contactform {
	text-align: center;
	padding: 20px;
	min-height: 50px; 
}


