div {
  height: 200px;
  background-size: cover;
  margin: 40 0 0 0;
  position: relative;
  border-radius: 12px;
}
#teams {
	color: white;
}
.Ladies {
	background: url("http://i.imgur.com/fhRjh2M.jpg?1");
	background-size: cover;
	text-align: center;
}
.Mens {
	background: url("http://i.imgur.com/LBreOxV.jpg");
	background-size: cover;
	color: white;
	text-align: center;
}
.Mixed {
	background: url("http://i.imgur.com/ThaHl0x.jpg?1");
	background-size: cover;
	text-align: center;
}
header {
	background: url("http://i.imgur.com/p3o1QjF.jpg?1");
	background-size: 100%;
	text-align: center;
	color: white;
}
div {
 	background-size: cover;
}
ul {
	padding: 10px;
	background: white;
}
li {
	display: inline;
	padding: 0px 10px 0px 10px;
	color: black;
	text-align: center;
}
header h1 {
	font-size: 120px;
}
a:link {
	color: purple;
}
h1: hover {
	background: yellow;
}
