.test{
  margin: 0 auto;
  padding: 0;
  width: 200px
}

.pull-me{
    -webkit-box-shadow: 0 0 8px #00acee;
    -moz-box-shadow: 0 0 8px #00acee;
    box-shadow: 0 0 8px #00acee;
    cursor:pointer;
}
.panel {
  background: #009ad5;
    background-size:90% 90%;
    height:300px;
  display:none;
    font-family:garamond,times-new-roman,serif;
}
.panel p{
    text-align:center;
    color: black;
}
.slide{
  margin:0;
  padding:0;
  border-top:solid 2px #009ad5;
}
.pull-me {
  display:block;
    position:relative;
    right:-25px;
    width:150px;
    height:20px;
  font-family:arial,sans-serif;
    font-size:14px;
  color:black;
    background:#00acee;
  text-decoration:none;
    -moz-border-bottom-left-radius:5px;
    -moz-border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.pull-me p {
    text-align:center;
}

.jumbotron{
  min-height: 500px;
  background-image:url(http://i.imgur.com/fhRjh2M.jpg?1);
  background-size: cover;
  background-attachment: fixed;
}

#menu {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  z-index: 1000;
}

ul {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
  color: black;
  text-align: center;
}
header {
  background-size: 100%;
  text-align: center;
  color: white;
}



 p {
      
      font-size:20px;
      color: black;
      font-family:Lobster;
    }

body{
      text-align: center;
      background-size:cover;
      background-position:center;
      color: white;
      font-family: Helvetica;
      }

small {
      font-size:15px;
      font-family: Helvetica;
    }

#first {
  border-style: solid;
  border-color: #820ab8;
  border-radius: 20px;
  width: 300px;
  height:300px;
  background: #b87ad4;
  margin: ;
  float: center;
}

#form {
  text-align: center;
  padding: 20px;
  min-height: 50px; 


color​:​white;
padding: 10px;
margin: 0 auto;
}

.btn-lg{
  background-color: #00acee;
  border-color: #009ad5;
}

.image {
  margin: 20px 20px 20px 30px;
  border: 10px solid purple;
}




@media(max-width: 800px) {

  li {
      display: block;
     padding: 2px;
  }

  p {
    font-size: 20px;
  }

  body{
    background: purple;
   
  }

  .image {
    float: left;
    margin: 5 5 5 5;
    padding: 15px;
    width: 200px;
    height: 300px;
    border: 1px solid black;

}




