ul {
	padding: 10px;
	background: white;
}
li {
	display: inline;
	padding: 0px 10px 0px 10px;
	color: black;
	text-align: center;
}
header {
	background-size: 100%;
	text-align: center;
	color: white;
}