.jumbotron{
  min-height: 500px;
  background-image:url(http://i.imgur.com/fhRjh2M.jpg?1);
  background-size: cover;
  background-attachment: fixed;
}

#menu {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  z-index: 1000;
}

ul {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
  color: black;
  text-align: center;
}
header {
  background-size: 100%;
  text-align: center;
  color: white;
}

h2{
  color: white;
  font-size:40px;
}

 p {
      
      font-size:20px;
      color: black;
        font-family:Lobster;
    }

body{
      text-align: center;
      background-size:cover;
      background-position:center;
      color: white;
      font-family: Helvetica;
      }



small {
      font-size:15px;
      font-family: Helvetica;

    }



#first {
  border-style: solid;
  border-color: #820ab8;
  border-radius: 20px;
  width: 300px;
  height:300px;
  background: #b87ad4;
  margin: ;
  float: center;
}

#form {
  text-align: center;
  padding: 20px;
  min-height: 50px; }



#social-buttons​button{
color​:​white;
padding: 10px;
margin: 0 auto;
}

.btn-lg{
  background-color: #00acee;
  border-color: #009ad5;
}

.image {
  margin: 20px 20px 20px 30px;
  border: 10px solid purple;
}




@media(max-width: 800px) {

  li {
      display: block;
     padding: 2px;
  }

  p {
    font-size: 20px;
  }

  body{
    background: purple;
   
  }

  .image {
    float: left;
    margin: 5 5 5 5;
    padding: 15px;
    width: 200px;
    height: 300px;
    border: 1px solid black;
} 

}


