#menu {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	z-index: 1000;
}

.jumbotron{
  min-height: 500px;
  background-image:url(http://i.imgur.com/pxZrN2a.jpg);
  background-size: cover;
  background-attachment: fixed;}

ul {	padding-top: 20px;
	padding-bottom: 20px;
	background: white;
}
li {
	display: inline;
	padding: 0px 10px 0px 10px;
	color: black;
	text-align: center;
}
header {
	background-size: 100%;
	text-align: center;
	color: white;
}

<<<<<<< HEAD
=======


>>>>>>> origin/master
.image {
	border: 10px solid purple;
}

h1 {
	 font-family: Lobster;
}
p {
  font-family: Lobster; Helvetica;
	color: black;
	padding: 20px 20px 20px 20px;
}

<<<<<<< HEAD
@media(max-width: 800px) {
=======
.jumbotron{
  min-height: 500px;
  background-image:url(http://i.imgur.com/pxZrN2a.jpg);
  background-size: cover;
  background-attachment: fixed; }


  @media(max-width: 800px) {
>>>>>>> origin/master

  li {
      display: block;
     padding: 2px;
  }

  p {
    font-size: 20px;
  }

<<<<<<< HEAD
  body{
    background: purple;
   
  }


}
  
=======

#first {
  border-style: solid;
  border-color: #820ab8;
  border-radius: 20px;
  width: 300px;
  height:300px;
  background: #b87ad4;
  margin: 0 auto;
  float: center;
}
>>>>>>> origin/master
