#menu {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	z-index: 1000;
}

.jumbotron{
  min-height: 500px;
  background-image:url(http://i.imgur.com/pxZrN2a.jpg);
  background-size: cover;
  background-attachment: fixed;}

ul {	padding-top: 20px;
	padding-bottom: 20px;
	background: white;
}
li {
	display: inline;
	padding: 0px 10px 0px 10px;
	color: black;
	text-align: center;
}
header {
	background-size: 100%;
	text-align: center;
	color: white;
}

.image {
	border: 10px solid purple;
}

h1 {
	 font-family: Lobster;
}
p {
	color: black;
	padding: 20px 20px 20px 20px;
}

@media(max-width: 800px) {

  li {
      display: block;
     padding: 2px;
  }

  p {
    font-size: 20px;
  }

  body{
    background: purple;
   
  }


}
  
